// _variables.scss
$main-color: #06283D;
$secondary-color: #ffffff;
$background-color: #000000;
$search-background-color:rgba(255, 255, 255, 0.557);
$search-box-background-color:#dff6ff;
$spinner-wrapper-background-color: rgba(255, 255, 255, 0.2);
$spinner-color-1: #6ebeff;
$spinner-color-2: #337AB7;

// fonts
$font-stack: 'Poppins', sans-serif;
$font-family: 'Roboto', sans-serif;

